<ion-card class="card">
  <div class="post-img" *ngIf="post.img">
    <img class="img" referrerpolicy="no-referrer" [src]="post.img" />
    <div class="tags">
      <app-tag class="primary first">{{post.region}}</app-tag>
      <app-tag class="white">{{post.type}}</app-tag>
    </div>
  </div>
  <ion-card-header>
    <ion-card-subtitle class="inter">
      {{ post.createdAt | date: "d LLLL YYYY" }}
    </ion-card-subtitle>
    <ion-card-title color="primary">{{ post.title }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div>
      Author: <a [routerLink]="['/profile',post.from.id]">{{post.from.name}}</a>
    </div>
    <div>{{ post.text }}...</div>
  </ion-card-content>
  <ion-toolbar>
    <ion-button [routerLink]="['/posts', post.id]" fill="clear"
      >Read more</ion-button
    >
    <ion-button
      slot="end"
      fill="clear"
      (click)="delete.emit()"
      *ngIf="canDelete"
    >
      <ion-icon name="trash-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-card>
