<ion-content>
  <ng-content></ng-content>
  <ion-grid>
    <ion-row>
      <ion-col
        sizeXl="3"
        sizeLg="4"
        sizeMd="6"
        size="12"
        *ngFor="let post of posts; let index = index"
      >
        <ion-card>
          <div class="post-img" *ngIf="post.img">
            <img referrerpolicy="no-referrer" [src]="post.img" />
          </div>
          <ion-card-header>
            <ion-card-title>{{ post.title }}</ion-card-title>
            <ion-card-subtitle>
              {{ post.createdAt | date: "medium" }}
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>{{ post.text }}...</ion-card-content>
          <ion-toolbar>
            <ion-button [routerLink]="['/posts', post._id]" fill="clear"
              >Read more</ion-button
            >
            <app-user
            [hideName]="true"
            [link]="true"
            slot="end"
            *ngIf="!userId"
            [user]="post.from"
          ></app-user>
            <ion-button
              slot="end"
              fill="clear"
              (click)="delIndex = index"
              *ngIf="userId === currentUser.id"
            >
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-toolbar>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll (ionInfinite)="loadMore()">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<ion-fab
  *ngIf="!userId || userId === currentUser.id"
  vertical="bottom"
  horizontal="center"
  slot="fixed"
>
  <ion-fab-button (click)="modal.open()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
<app-post-modal #modal (afterSave)="loadMore(0)"></app-post-modal>
<ion-modal
  [isOpen]="delIndex !== undefined"
  (willDismiss)="delIndex = undefined"
>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-button slot="start" (click)="delete()">Delete</ion-button>
        <ion-title></ion-title>
        <ion-button slot="end" fill="clear" (click)="delIndex = undefined"
          >Cancel</ion-button
        >
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      Are you realy want to delete this post "{{ posts[delIndex].text }}"?
    </ion-content>
  </ng-template>
</ion-modal>
