<ion-content>
  <ion-progress-bar
    class="progress"
    type="indeterminate"
    *ngIf="loading"
  ></ion-progress-bar>
  <ng-content></ng-content>
  <ion-grid style="max-width: 1230px">
    <ion-row *ngIf="!userId">
      <ion-col>
        <app-filter></app-filter>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col
        sizeMd="4"
        sizeSm="6"
        size="12"
        *ngFor="let post of posts; let index = index"
      >
        <app-post-card
          [post]="post.data()"
          [canDelete]="userId === currentUser.id"
          (delete)="delIndex = index"
          [hideAuthor]="!!userId"
        ></app-post-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll (ionInfinite)="loadMore()">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<ion-fab
  *ngIf="!userId || userId === currentUser.id"
  vertical="bottom"
  horizontal="center"
  slot="fixed"
>
  <ion-fab-button (click)="modal.open()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
<app-post-modal #modal (afterSave)="loadMore(0)"></app-post-modal>
<ion-modal
  [isOpen]="delIndex !== undefined"
  (willDismiss)="delIndex = undefined"
>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-button slot="start" (click)="delete()">Delete</ion-button>
        <ion-title></ion-title>
        <ion-button slot="end" fill="clear" (click)="delIndex = undefined"
          >Cancel</ion-button
        >
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      Are you realy want to delete this post "{{
        posts[delIndex].data().text
      }}"?
    </ion-content>
  </ng-template>
</ion-modal>
