.icl-breadcrumbs {
  color: var(--ion-text-color);
  margin-bottom: 100px;
  display: inline-block;

  .crumb {
    color: var(--ion-text-color);
    text-decoration: none;
    position: relative;

    &.link {
      cursor: pointer;

      &::after {
        position: absolute;
        content: "";
        bottom: -4px;
        left: 50%;
        transform: translate(-50%);
        background-color: #002846;
        width: 100%;
        transition: all 0.3s ease-in-out;
        height: 2px;
      }

      &:hover::after {
        width: 0;
      }
    }
  }
}
