ion-card {
  box-shadow: 13px 12px 18px 0 rgb(0 0 0 / 7%);
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: auto;
  src: url("../assets/fonts/inter-normal-300.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url("../assets/fonts/inter-normal-400.woff2") format("woff2");
}

@font-face {
  font-family: "ICLFont";
  font-style: normal;
  font-weight: 300;
  font-display: auto;
  src: url("../assets/fonts/font.woff2") format("woff2");
}
@font-face {
  font-family: "ICLFont";
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url("../assets/fonts/font-1.woff2") format("woff2");
}
@font-face {
  font-family: "ICLFont";
  font-style: normal;
  font-weight: 500;
  font-display: auto;
  src: url("../assets/fonts/font-2.woff2") format("woff2");
}

html {
  font-weight: 300;
}

h1,
h2,
h3,
h4 {
  font-weight: 300;
}

:root {
  --ion-font-family: "ICLFont", sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
}
