<ion-popover trigger="current-user" [dismissOnSelect]="true">
  <ng-template>
    <ion-content>
      <ion-list>
        <ion-item [routerLink]="['/profile', user.id]" [button]="true"
          >Profile</ion-item
        >
        <ion-item (click)="logout()" [button]="true">Logout</ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>
<ion-chip id="current-user">
  <ion-avatar>
    <img referrerpolicy="no-referrer" [alt]="user.name" [src]="user.img" />
  </ion-avatar>
  <ion-label>{{ user.name }}</ion-label>
</ion-chip>
