<ion-content *ngIf="post" class="post">
  <ion-grid>
    <ion-row>
      <ion-col sizeMd="5" size="12" class="header">
        <app-breadcrumbs
          [items]="[{ url: '/posts', name: 'Home' }, { name: post.title }]"
        ></app-breadcrumbs>
        <div class="tags">
          <app-tag class="primary">{{ post.type }}</app-tag>
          <app-tag>{{ post.region }}</app-tag>
        </div>
        <h3>{{ post.createdAt | date: "d LLLL YYYY" }}</h3>
        <h1>
          <ion-text class="title" color="primary">
            {{ post.title }}
          </ion-text>
        </h1>
        <!-- <app-user [link]="true" [user]="post.from" prefix="Author: "></app-user> -->
      </ion-col>
      <ion-col sizeMd="7" size="12" class="img-col">
        <ion-img class="img" [src]="imgUrl(post.img)"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="text">
        {{ post.text }}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
